*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #b296ac;
    text-align: center;

}

.container{
    height: 65vh; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.3vmin;
}

.game{
    height: 55vmin;
    width: 55vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.3vmin;
}

.box{
    height: 17vmin;
    width: 17vmin;
    border: none;
    border-radius: 1rem;
    font-size: 7vmin;
    color: #4361ee;
    background-color:rgb(190, 216, 239)
}

#reset{
    padding: 0.8rem;
    font-size: 1.3rem;
    border: none;
    border-radius: 1rem;
    background-color: rgb(80, 128, 128);
    color: white;
}

#new{
    padding: 0.8rem;
    font-size: 1.3rem;
    border: none;
    border-radius: 1rem;
    background-color: rgb(80, 128, 128);
    color: white;
}

#msg{
    color: white;
    font-size: 7vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.hide{
    display: none;
}